Repository AUBGTheHUB/monolith, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AUBGTheHUB/nosyncdev, @asynchroza, @Aleks1908

.github/CODEOWNERS:

* @AUBGTheHUB/nosyncdev

/packages/api/** @asynchroza

/packages/web/src/components/admin_page/** @asynchroza @Aleks1908

.githooks/** @asynchroza

#55 remove redundant line from deployment script
  README.md
Owners: @AUBGTheHUB/nosyncdev

#55 add readme for empty cert environment
  data/certs/README.md
Owners: @AUBGTheHUB/nosyncdev

#65-form-fields-no-longer-turn-white-when-clicked
  packages/web/src/components/admin_page/admin.css
Owners: @asynchroza, @Aleks1908

Revert "#65-form-fields-no-longer-turn-white-when-clicked"
  packages/web/src/components/admin_page/admin.css
Owners: @asynchroza, @Aleks1908

Revert "#65-form-fields-no-longer-turn-white-when-clicked" (#67)
  packages/web/src/components/admin_page/admin.css
Owners: @asynchroza, @Aleks1908

#65-action-page-fields-are-darker-when-clicked
  packages/web/src/components/admin_page/admin.css
Owners: @asynchroza, @Aleks1908

#65-action-page-fields-are-darker-when-clicked
  packages/web/src/components/admin_page/admin.css
Owners: @asynchroza, @Aleks1908

Revert "#65-action-page-fields-are-darker-when-clicked"
  packages/web/src/components/admin_page/admin.css
Owners: @asynchroza, @Aleks1908

"#65 Fix issue where form fields were white on writeup"
  packages/web/src/components/admin_page/admin.css
Owners: @asynchroza, @Aleks1908

#55 add simple cd
  cron_cd.sh
Owners: @AUBGTheHUB/nosyncdev

#71 initial tls config
  docker-compose.yml
  packages/api/.gitignore
  packages/api/main.go
  packages/web/nginx.conf
  packages/web/src/Global.js
Owners: @AUBGTheHUB/nosyncdev, @asynchroza

#71 correct volume path
  docker-compose.yml
Owners: @AUBGTheHUB/nosyncdev

#71 Add SSL/TLS config for API (#73)
  cron_cd.sh
  docker-compose.yml
  packages/api/.gitignore
  packages/api/main.go
  packages/web/nginx.conf
  packages/web/src/Global.js
Owners: @AUBGTheHUB/nosyncdev, @asynchroza

#55 fix manage_app env
  README.md
  manage_app.py
  set_vm_env.sh
Owners: @AUBGTheHUB/nosyncdev

#71 prepend api hosts with https
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#71 add url env vars
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#71 stop building after 2 tries
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#55 add mail receiver env var
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#75 add cron in manage_app
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#75 swap ln for cp
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#75 add sleep for update
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#75 fix wrong var name
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#75 fix pwd output
  data/certs/.gitignore
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#75 add recovering logic
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#75 fix unset to clear
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#75 remove sleep in starting statement
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#75 remove comments
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#75 remove recovering
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#75 CRON job for restarting services with newly generated SSL/TLS certificates (#76)
  data/certs/.gitignore
  manage_app.py
Owners: @AUBGTheHUB/nosyncdev

#52 add desktop nav diagram
  dia
Owners: @AUBGTheHUB/nosyncdev

#52 create another dir for second team
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/public/hublogo.png
  packages/web/src/components/spa/Navigation/DesktopNav/NavDesktop.jsx
  packages/web/src/components/spa/Navigation/DesktopNav/desktop_navbar.css
  packages/web/src/components/spa/Navigation/MobileNav/Button.jsx
  packages/web/src/components/spa/Navigation/MobileNav/NavMobile.jsx
  packages/web/src/components/spa/Navigation/NavBar.jsx
  packages/web/src/components/spa/landing_home_page.jsx
Owners: @AUBGTheHUB/nosyncdev

#52 init desk team env
  packages/web/src/components/spa/Navigation/DesktopNav/NavDesktop.jsx
  packages/web/src/components/spa/Navigation/DesktopNav/desktop_navbar.css
  packages/web/src/components/spa/Navigation/MobileNav/NavMobile.jsx
Owners: @AUBGTheHUB/nosyncdev

#52 transition from env
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/components/spa/Navigation/DesktopNav/NavDesktop.jsx
  packages/web/src/components/spa/Navigation/DesktopNav/desktop_navbar.css
  packages/web/src/components/spa/Navigation/MobileNav/Burger.jsx
  packages/web/src/components/spa/Navigation/MobileNav/NavMobile.jsx
  packages/web/src/components/spa/Navigation/MobileNav/RightNav.jsx
Owners: @AUBGTheHUB/nosyncdev

52 push changes for validation
  packages/web/src/components/spa/Navigation/DesktopNav/NavDesktop.jsx
  packages/web/src/components/spa/Navigation/DesktopNav/desktop_navbar.css
  packages/web/src/components/spa/Navigation/MobileNav/Button.jsx
  packages/web/src/components/spa/Navigation/NavBar.jsx
  packages/web/src/components/spa/landing_home_page.jsx
Owners: @AUBGTheHUB/nosyncdev

Created Navbar for desktop with logo and anchor links
  packages/web/src/components/spa/Navigation/DesktopNav/NavDesktop.jsx
  packages/web/src/components/spa/Navigation/DesktopNav/desktop_navbar.css
Owners: @AUBGTheHUB/nosyncdev

Fixed color of buttons
  packages/web/src/components/spa/Navigation/DesktopNav/NavDesktop.jsx
  packages/web/src/components/spa/Navigation/DesktopNav/desktop_navbar.css
Owners: @AUBGTheHUB/nosyncdev

Merge Desktop team commits
  .vscode/settings.json
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/App.css
  packages/web/src/App.js
  packages/web/src/components/spa/Navigation/MobileNav/Burger.jsx
  packages/web/src/components/spa/Navigation/MobileNav/Button.jsx
  packages/web/src/components/spa/Navigation/MobileNav/NavMobile.jsx
  packages/web/src/components/spa/Navigation/MobileNav/RightNav.jsx
  packages/web/src/components/spa/Navigation/MobileNav/style.css
Owners: @AUBGTheHUB/nosyncdev

#52 add animation but no forwards motion
  packages/web/src/components/spa/Navigation/MobileNav/NavMobile.jsx
  packages/web/src/components/spa/Navigation/MobileNav/style.css
Owners: @AUBGTheHUB/nosyncdev

Fixed logo responsiveness
  .vscode/settings.json
  packages/web/src/components/spa/Navigation/DesktopNav/NavDesktop.jsx
  packages/web/src/components/spa/Navigation/DesktopNav/desktop_navbar.css
Owners: @AUBGTheHUB/nosyncdev

#52 toni montana animation
  packages/web/src/components/spa/Navigation/MobileNav/NavMobile.jsx
  packages/web/src/components/spa/Navigation/MobileNav/style.css
Owners: @AUBGTheHUB/nosyncdev
