Repository AUBGTheHUB/monolith, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asynchroza, @SuelaCark, @Aleks1908, @nikolayninov, @DemonHashira, @r-mishev, @IvanObreshkov

Load env before imports
  packages/py-api/py_api/main.py
  packages/py-api/pyproject.toml
Owners: none

Remove load env from uploader controller
  packages/py-api/py_api/controllers/uploader_controller.py
Owners: none

Load env before imports
  packages/py-api/py_api/main.py
Owners: none

sort imports
  packages/py-api/py_api/main.py
Owners: none

Remove mailer service
  packages/py-api/py_api/services/mailer.py
  packages/services/README.md
  packages/services/mailer_service/.gcloudignore
  packages/services/mailer_service/.gitignore
  packages/services/mailer_service/Makefile
  packages/services/mailer_service/README.md
  packages/services/mailer_service/main.py
  packages/services/mailer_service/requirements.txt
  packages/services/object_uploader_service/.gcloudignore
  packages/services/object_uploader_service/.gitignore
  packages/services/object_uploader_service/Makefile
  packages/services/object_uploader_service/README.md
  packages/services/object_uploader_service/main.py
  packages/services/object_uploader_service/requirements.txt
Owners: @asynchroza

Add comment for new collection
  packages/py-api/py_api/controllers/__init__.py
  packages/py-api/py_api/controllers/uploader_controller.py
  packages/py-api/py_api/controllers/url_shortener_controller.py
  packages/py-api/py_api/database/__init__.py
  packages/py-api/py_api/database/initialize.py
  packages/py-api/py_api/routes/routes.py
  packages/py-api/py_api/routes/uploader_routes.py
  packages/py-api/py_api/routes/url_shortener_routes.py
Owners: none

Update readme with util function
  packages/py-api/README.md
  packages/py-api/py_api/controllers/url_shortener_controller.py
  packages/py-api/py_api/routes/url_shortener_routes.py
  packages/py-api/py_api/utilities/parsers.py
Owners: none

Add callable
  packages/py-api/py_api/utilities/parsers.py
Owners: none

Add exception handler
  packages/py-api/py_api/main.py
  packages/py-api/py_api/middleware/__init__.py
  packages/py-api/py_api/middleware/exception_handler.py
  packages/py-api/py_api/utilities/parsers.py
Owners: none

Remove redundant json encoder
  packages/py-api/py_api/middleware/auth.py
  packages/py-api/py_api/utilities/parsers.py
Owners: none

Add comments for parse_request_body
  packages/py-api/py_api/utilities/parsers.py
Owners: none

Add comment for handling logging of exceptions
  packages/py-api/py_api/controllers/uploader_controller.py
  packages/py-api/py_api/middleware/exception_handler.py
Owners: none

Remove redundant str parse
  packages/py-api/py_api/middleware/exception_handler.py
Owners: none

#478 Migrate cloud functions to persistent API - Phase 1 (#479)
  packages/py-api/README.md
  packages/py-api/poetry.lock
  packages/py-api/py_api/controllers/__init__.py
  packages/py-api/py_api/controllers/uploader_controller.py
  packages/py-api/py_api/controllers/url_shortener_controller.py
  packages/py-api/py_api/database/__init__.py
  packages/py-api/py_api/database/initialize.py
  packages/py-api/py_api/main.py
  packages/py-api/py_api/middleware/__init__.py
  packages/py-api/py_api/middleware/auth.py
  packages/py-api/py_api/middleware/exception_handler.py
  packages/py-api/py_api/routes/routes.py
  packages/py-api/py_api/routes/uploader_routes.py
  packages/py-api/py_api/routes/url_shortener_routes.py
  packages/py-api/py_api/routes/utility_routes.py
  packages/py-api/py_api/services/mailer.py
  packages/py-api/py_api/utilities/parsers.py
  packages/py-api/pyproject.toml
  packages/services/README.md
  packages/services/mailer_service/.gcloudignore
  packages/services/mailer_service/.gitignore
  packages/services/mailer_service/Makefile
  packages/services/mailer_service/README.md
  packages/services/mailer_service/main.py
  packages/services/mailer_service/requirements.txt
  packages/services/object_uploader_service/.gcloudignore
  packages/services/object_uploader_service/.gitignore
  packages/services/object_uploader_service/Makefile
  packages/services/object_uploader_service/README.md
  packages/services/object_uploader_service/main.py
  packages/services/object_uploader_service/requirements.txt
  packages/web/src/Global.js
  packages/web/src/components/admin_page/s3_page/render_objects.jsx
  packages/web/src/components/admin_page/s3_page/s3_landing.jsx
  packages/web/src/components/spa/HackAUBG/JudgesSection/JudgesSection.jsx
Owners: @asynchroza, @SuelaCark, @Aleks1908, @nikolayninov, @DemonHashira, @r-mishev

Remove now redundant environment variables
  .env.sample
Owners: none

Return load_dotenv to top level
  packages/py-api/py_api/main.py
Owners: none

Remove redundant Request import
  packages/py-api/py_api/main.py
Owners: none

Drop post endpoint of url shortener
  packages/services/url_shortener/src/main.rs
Owners: @asynchroza

Return memory usage on health endpoint
  packages/py-api/poetry.lock
  packages/py-api/py_api/routes/utility_routes.py
  packages/py-api/py_api/utilities/memory.py
  packages/py-api/pyproject.toml
Owners: none

Remove non existent workflow from README
  README.md
Owners: none

Update gum options picture
  README.md
Owners: none

Add demo with log.ini
  packages/py-api/logfile.log
  packages/py-api/py_api/log.ini
  packages/py-api/py_api/main.py
  packages/py-api/py_api/routes/utility_routes.py
Owners: none

Implement leftover url shortener routes
  packages/py-api/py_api/controllers/url_shortener_controller.py
  packages/py-api/py_api/models/__init__.py
  packages/py-api/py_api/models/url_shortener_models.py
  packages/py-api/py_api/routes/url_shortener_routes.py
Owners: none

Add endpoint for fetching all routes
  packages/py-api/py_api/main.py
  packages/py-api/py_api/routes/utility_routes.py
Owners: none

Fix bug: Unauthorized access when route is bypassed
  packages/py-api/.pre-commit-config.yaml
  packages/py-api/README.md
  packages/py-api/py_api/middleware/auth.py
Owners: none

Add bool eval util
  packages/py-api/py_api/main.py
  packages/py-api/py_api/utilities/parsers.py
Owners: none

Fix spreading
  packages/py-api/logfile.log
  packages/py-api/py_api/main.py
Owners: none

Add todo comment
  packages/py-api/py_api/main.py
Owners: none

Remove HEREHE WARNING
  packages/py-api/py_api/routes/utility_routes.py
  packages/py-api/py_api/shared/logconfig.prod.ini.ini
Owners: none

Fix timestamp to be HH:MM
  packages/py-api/py_api/shared/logconfig.dev.ini
Owners: none

Add proof of concept
  packages/py-api/py_api/main.py
  packages/py-api/py_api/routes/routes.py
  packages/py-api/py_api/routes/uploader_routes.py
  packages/py-api/py_api/routes/url_shortener_routes.py
  packages/py-api/py_api/routes/utility_routes.py
  packages/py-api/py_api/utilities/decorators.py
Owners: none

Remove autopep arg
  packages/py-api/.pre-commit-config.yaml
Owners: none

Add abstract base class
  packages/py-api/py_api/routes/base.py
  packages/py-api/py_api/routes/routes.py
  packages/py-api/py_api/routes/uploader_routes.py
  packages/py-api/py_api/routes/url_shortener_routes.py
  packages/py-api/py_api/routes/utility_routes.py
Owners: none

Remove route redirection
  packages/py-api/py_api/routes/uploader_routes.py
  packages/py-api/py_api/routes/url_shortener_routes.py
Owners: none

Remove all abstraction layers
  packages/py-api/py_api/routes/base.py
  packages/py-api/py_api/routes/routes.py
  packages/py-api/py_api/routes/uploader_routes.py
  packages/py-api/py_api/routes/url_shortener_routes.py
  packages/py-api/py_api/routes/utility_routes.py
  packages/py-api/py_api/utilities/decorators.py
Owners: none

Remove mypy comment
  packages/py-api/py_api/controllers/uploader_controller.py
  packages/py-api/py_api/routes/uploader_routes.py
Owners: none

Fix list type
  packages/py-api/py_api/routes/routes.py
Owners: none

Fix name
  packages/py-api/py_api/shared/logconfig.prod.ini
Owners: none

Ignore log file
  packages/py-api/.gitignore
Owners: none

Add missing route handler
  packages/py-api/py_api/routes/url_shortener_routes.py
Owners: none

.github/CODEOWNERS:

.github/workflows @asynchroza

.vscode @asynchroza

data @asynchroza

packages/web @SuelaCark @Aleks1908 @asynchroza @nikolayninov @DemonHashira @r-mishev

packages/api @nikolayninov @IvanObreshkov @asynchroza

**/Dockerfile @asynchroza

**/*.yml @asynchroza

manage_app.py @asynchroza

**/*.sh @asynchroza @SuelaCark @r-mishev @IvanObreshkov

Makefile @asynchroza

**/*.conf @asynchroza

packages/services @asynchroza

packages/qb-api @asynchroza @IvanObreshkov
