Repository AUBGTheHUB/monolith, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asynchroza, @SuelaCark, @nikolayninov, @Aleks1908, @DemonHashira, @IvanObreshkov, @peti-krl, @r-mishev

#310 Hackathon registration admin panel (#412)
  packages/api/controllers/hackathon_no_team_participants_controller.go
  packages/api/controllers/hackathon_team_controller.go
  packages/api/controllers/hackathon_team_members_controller.go
  packages/api/models/hackathon_team_model.go
  packages/api/routes/hackathon_no_team_participants.go
  packages/web/src/App.js
  packages/web/src/components/admin_page/dash_page.jsx
  packages/web/src/components/admin_page/hackathon/hackathon_no_team_participants/new_no_team_participant.jsx
  packages/web/src/components/admin_page/hackathon/hackathon_no_team_participants/render_no_team_participants.jsx
  packages/web/src/components/admin_page/hackathon/hackathon_no_team_participants/single_no_team_participant.jsx
  packages/web/src/components/admin_page/hackathon/hackathon_team_members/new_member.jsx
  packages/web/src/components/admin_page/hackathon/hackathon_team_members/render_hackathon_team_members.jsx
  packages/web/src/components/admin_page/hackathon/hackathon_team_members/single_team_member.jsx
  packages/web/src/components/admin_page/hackathon/hackathon_teams/actions_teams.jsx
  packages/web/src/components/admin_page/hackathon/hackathon_teams/new_team.jsx
  packages/web/src/components/admin_page/hackathon/hackathon_teams/render_teams.jsx
  packages/web/src/feature_switches.js
Owners: @nikolayninov, @IvanObreshkov, @asynchroza, @peti-krl, @SuelaCark, @Aleks1908, @DemonHashira

Handle https in url when resolving host
  packages/web/src/Global.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

Update incorrect conditional statement in gum
  cli.sh
Owners: @asynchroza, @SuelaCark, @r-mishev

#414 enabled jobs section
  packages/web/src/feature_switches.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

#414 added loading css
  packages/web/src/components/admin_page/s3_page/s3.css
  packages/web/src/components/admin_page/s3_page/s3_landing.jsx
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

#417 init global env
  .env.sample
Owners: none

#417 add cf envs to sample
  .env.sample
Owners: none

#417 ignore .env
  .gitignore
  Makefile
Owners: @asynchroza

#417 update phony
  Makefile
Owners: @asynchroza

#417 udpate readme
  .env.sample
  README.md
  install_osx.sh
  install_wsl.sh
Owners: @asynchroza, @SuelaCark, @r-mishev

#417 fix typo
  .env.sample
Owners: none

#417 add missed cp
  Makefile
Owners: @asynchroza

#417 remove redundant notes from installation scripts
  README.md
Owners: none

#417 Set up global env file (#418)
  .env.sample
  .gitignore
  Makefile
  README.md
  install_osx.sh
  install_wsl.sh
Owners: @asynchroza, @SuelaCark, @r-mishev

#419 fixed make gum in Client(prod)
  cli.sh
Owners: @asynchroza, @SuelaCark, @r-mishev

#419 fixed make gum in Client(prod) (#420)
  cli.sh
Owners: @asynchroza, @SuelaCark, @r-mishev

#414 fixed s3 bucket images alignment and design
  packages/web/src/components/admin_page/s3_page/s3.css
  packages/web/src/components/admin_page/s3_page/s3_landing.jsx
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

#414 added buttons and their designs
  packages/web/src/components/admin_page/s3_page/obj_card.jsx
  packages/web/src/components/admin_page/s3_page/s3.css
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

#414 added get image url functionality
  packages/web/src/components/admin_page/s3_page/obj_card.jsx
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

#414 added basic logic for delete image button (needs work)
  packages/web/src/components/admin_page/s3_page/obj_card.jsx
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

Update symlink and is_test env
  packages/api/tests/TESTS_README.md
  packages/api/tests/integration_test.go
  packages/api/tests/utils.go
Owners: @nikolayninov, @IvanObreshkov, @asynchroza, @peti-krl

Fix wrong logic in env check
  packages/api/tests/utils.go
Owners: @nikolayninov, @IvanObreshkov, @asynchroza, @peti-krl

Update certs README
  data/certs/README.md
Owners: @asynchroza

Add regex
  packages/web/src/Global.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

#414 added button popovers
  packages/web/src/components/admin_page/hackathon/hackathon_teams/actions_teams.jsx
  packages/web/src/components/admin_page/s3_page/obj_card.jsx
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

#421 rename function to checkEnv
  packages/api/tests/integration_test.go
  packages/api/tests/utils.go
Owners: @nikolayninov, @IvanObreshkov, @asynchroza, @peti-krl

Add install python phony
  Makefile
Owners: @asynchroza

Add install phony to scripts
  install_osx.sh
  install_wsl.sh
Owners: @asynchroza, @SuelaCark, @r-mishev

#428 add pyenv readme
  Makefile
  packages/services/README.md
Owners: @asynchroza, @nikolayninov

#428 update readme with info about post req
  packages/services/README.md
Owners: @asynchroza, @nikolayninov

Update main readme with important comment
  README.md
Owners: none

init project
  packages/services/url_shortener/.gitignore
  packages/services/url_shortener/Cargo.lock
  packages/services/url_shortener/Cargo.toml
  packages/services/url_shortener/Makefile
  packages/services/url_shortener/src/main.rs
Owners: @asynchroza, @nikolayninov

Add post endpoint
  Makefile
  packages/services/url_shortener/Cargo.lock
  packages/services/url_shortener/Cargo.toml
  packages/services/url_shortener/src/main.rs
Owners: @asynchroza, @nikolayninov

Add collection referencing
  packages/services/url_shortener/src/main.rs
Owners: @asynchroza, @nikolayninov

Fix make typo
  packages/services/url_shortener/Makefile
Owners: @asynchroza, @nikolayninov

Add appropriate json responses
  packages/services/url_shortener/src/main.rs
Owners: @asynchroza, @nikolayninov

Format code
  packages/services/url_shortener/src/main.rs
Owners: @asynchroza, @nikolayninov

Url Shortener (#431)
  Makefile
  packages/services/url_shortener/.gitignore
  packages/services/url_shortener/Cargo.lock
  packages/services/url_shortener/Cargo.toml
  packages/services/url_shortener/Makefile
  packages/services/url_shortener/src/main.rs
Owners: @asynchroza, @nikolayninov

#432 update endpoint and add dockerfile
  packages/services/url_shortener/Dockerfile
  packages/services/url_shortener/src/main.rs
Owners: @asynchroza, @nikolayninov

#432 add reverse proxy for shortener
  packages/web/nginx.conf
Owners: @asynchroza

.github/CODEOWNERS:

.githooks @asynchroza @SuelaCark @nikolayninov

.github/workflows @asynchroza

.vscode @asynchroza

data @asynchroza

packages/web @SuelaCark @Aleks1908 @asynchroza @nikolayninov @DemonHashira

packages/api @nikolayninov @IvanObreshkov @asynchroza @peti-krl

**/Dockerfile @asynchroza

**/*.yml @asynchroza

manage_app.py @asynchroza

**/*.sh @asynchroza @SuelaCark @r-mishev

Makefile @asynchroza

**/*.conf @asynchroza

packages/services @asynchroza @nikolayninov
