Repository AUBGTheHUB/monolith, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asynchroza, @SuelaCark, @nikolayninov, @Aleks1908, @DemonHashira, @IvanObreshkov, @peti-krl, @r-mishev

Expand descriptions
  others/RESOURCES.md
Owners: none

Fix hooks installation script
  .githooks/install_hooks.sh
Owners: @asynchroza, @SuelaCark, @r-mishev

Initial refactor
  .github/workflows/integration_tests.yml
  packages/api/app/app.go
  packages/api/controllers/articles_controller.go
  packages/api/controllers/events_controller.go
  packages/api/controllers/hackathon_no_team_participants_controller.go
  packages/api/controllers/hackathon_register_controller.go
  packages/api/controllers/hackathon_team_controller.go
  packages/api/controllers/hackathon_team_members_controller.go
  packages/api/controllers/utils.go
  packages/api/models/articles_models.go
  packages/api/models/events_models.go
  packages/api/models/hackathon_team_member_model.go
  packages/api/models/hackathon_team_model.go
  packages/api/routes/articles_route.go
  packages/api/routes/events_route.go
  packages/api/routes/hackathon_no_team_participants.go
  packages/api/routes/hackathon_register_route.go
  packages/api/routes/hackathon_team_members_route.go
  packages/api/routes/hackathon_team_route.go
  packages/api/tests/TESTS_README.md
  packages/api/tests/integration_test.go
  packages/api/tests/utils.go
Owners: @asynchroza, @nikolayninov, @IvanObreshkov, @peti-krl

Extract entries as mapped cards
  packages/web/src/App.js
  packages/web/src/components/admin_page/LandingCard.jsx
  packages/web/src/components/admin_page/articles_page/actions_articles.jsx
  packages/web/src/components/admin_page/articles_page/add_article.jsx
  packages/web/src/components/admin_page/articles_page/render_articles.jsx
  packages/web/src/components/admin_page/dash_page.jsx
  packages/web/src/components/admin_page/events_page/actions_events.jsx
  packages/web/src/components/admin_page/events_page/add_event.jsx
  packages/web/src/components/admin_page/events_page/render_events.jsx
  packages/web/src/components/admin_page/landingEntries.json
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

Rename functions for clarity
  packages/api/controllers/jobs_controller.go
  packages/api/controllers/utils.go
Owners: @nikolayninov, @IvanObreshkov, @asynchroza, @peti-krl

Fix phony for installing global env file
  Makefile
Owners: @asynchroza

Update missing install in python phony
  Makefile
Owners: @asynchroza

Update readme
  packages/api/README.md
Owners: @nikolayninov, @IvanObreshkov, @asynchroza, @peti-krl

Fix bug with air not working at first load
  packages/api/reload.sh
Owners: @asynchroza, @SuelaCark, @r-mishev

Add new comment for fs
  packages/web/src/feature_switches.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

Fix typo and double whitespace in Honeypot description
  others/RESOURCES.md
Owners: none

Fix Fireship.io description
  others/RESOURCES.md
Owners: none

Update RESOURCES.md (#458)
  others/RESOURCES.md
Owners: none

Refactor Golang API (#462)
  .githooks/install_hooks.sh
  .github/workflows/integration_tests.yml
  Makefile
  packages/api/README.md
  packages/api/app/app.go
  packages/api/controllers/articles_controller.go
  packages/api/controllers/events_controller.go
  packages/api/controllers/hackathon_no_team_participants_controller.go
  packages/api/controllers/hackathon_register_controller.go
  packages/api/controllers/hackathon_team_controller.go
  packages/api/controllers/hackathon_team_members_controller.go
  packages/api/controllers/jobs_controller.go
  packages/api/controllers/utils.go
  packages/api/models/articles_models.go
  packages/api/models/events_models.go
  packages/api/models/hackathon_team_member_model.go
  packages/api/models/hackathon_team_model.go
  packages/api/reload.sh
  packages/api/routes/articles_route.go
  packages/api/routes/events_route.go
  packages/api/routes/hackathon_no_team_participants.go
  packages/api/routes/hackathon_register_route.go
  packages/api/routes/hackathon_team_members_route.go
  packages/api/routes/hackathon_team_route.go
  packages/api/tests/TESTS_README.md
  packages/api/tests/integration_test.go
  packages/api/tests/utils.go
  packages/web/src/App.js
  packages/web/src/components/admin_page/LandingCard.jsx
  packages/web/src/components/admin_page/articles_page/actions_articles.jsx
  packages/web/src/components/admin_page/articles_page/add_article.jsx
  packages/web/src/components/admin_page/articles_page/render_articles.jsx
  packages/web/src/components/admin_page/dash_page.jsx
  packages/web/src/components/admin_page/events_page/actions_events.jsx
  packages/web/src/components/admin_page/events_page/add_event.jsx
  packages/web/src/components/admin_page/events_page/render_events.jsx
  packages/web/src/components/admin_page/landingEntries.json
  packages/web/src/feature_switches.js
Owners: @asynchroza, @SuelaCark, @r-mishev, @nikolayninov, @IvanObreshkov, @peti-krl, @Aleks1908, @DemonHashira

Update python phony
  Makefile
Owners: @asynchroza

Update path
  Makefile
Owners: @asynchroza

Add initial version of husky
  .githooks/install_hooks.sh
  .githooks/post-commit
  .githooks/pre-commit
  .gitignore
  Makefile
  package-lock.json
  package.json
Owners: @asynchroza, @SuelaCark, @r-mishev, @nikolayninov

Terminate quoted string
  Makefile
Owners: @asynchroza

Add newline
  Makefile
Owners: @asynchroza

Fix prettier hook
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Owners: none

Add prettierrc
  .prettierrc
Owners: none

Remove redundant files
  packages/web/.eslintrc.json
  packages/web/.prettierrc
  packages/web/test.nginx.conf
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

Add new rules
  .prettierrc
Owners: none

Add eslint rc back
  packages/web/.eslintrc.json
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

Update rules for width and tabs
  .prettierrc
  packages/web/.eslintrc.json
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

Fix comparison operator
  Makefile
Owners: @asynchroza

Remove quotes
  Makefile
Owners: @asynchroza

Add echo, remove export
  Makefile
Owners: @asynchroza

#466 Update python phony to install poetry package manager (#467)
  Makefile
Owners: @asynchroza

#425 Swap custom commit hooks for husky (#468)
  .githooks/install_hooks.sh
  .githooks/post-commit
  .githooks/pre-commit
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  Makefile
  package-lock.json
  package.json
  packages/web/.prettierrc
  packages/web/test.nginx.conf
Owners: @asynchroza, @SuelaCark, @r-mishev, @nikolayninov, @Aleks1908, @DemonHashira

Add echo command
  set_vm_env.sh
Owners: @asynchroza, @SuelaCark, @r-mishev

Add function for changing location
  packages/web/src/App.js
  packages/web/src/Global.js
  packages/web/src/components/admin_page/dash_page.jsx
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

Rollback event listener
  packages/web/src/App.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

.github/CODEOWNERS:

.githooks @asynchroza @SuelaCark @nikolayninov

.github/workflows @asynchroza

.vscode @asynchroza

data @asynchroza

packages/web @SuelaCark @Aleks1908 @asynchroza @nikolayninov @DemonHashira

packages/api @nikolayninov @IvanObreshkov @asynchroza @peti-krl

**/Dockerfile @asynchroza

**/*.yml @asynchroza

manage_app.py @asynchroza

**/*.sh @asynchroza @SuelaCark @r-mishev

Makefile @asynchroza

**/*.conf @asynchroza

packages/services @asynchroza @nikolayninov
