Repository AUBGTheHUB/monolith, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asynchroza, @SuelaCark, @Aleks1908, @nikolayninov, @DemonHashira, @r-mishev, @IvanObreshkov

.github/CODEOWNERS:

.github/workflows @asynchroza

.vscode @asynchroza

data @asynchroza

packages/web @SuelaCark @Aleks1908 @asynchroza @nikolayninov @DemonHashira @r-mishev

packages/api @IvanObreshkov @asynchroza

**/Dockerfile @asynchroza

**/*.yml @asynchroza

manage_app.py @asynchroza

**/*.sh @asynchroza @SuelaCark @r-mishev @IvanObreshkov

Makefile @asynchroza

**/*.conf @asynchroza

packages/services @asynchroza

packages/services/questionnaire @asynchroza @Aleks1908

packages/py-api @asynchroza @IvanObreshkov

removed as much css as i could
  packages/services/questionnaire/src/app.html
  packages/services/questionnaire/src/lib/inputs/input.svelte
Owners: @asynchroza, @Aleks1908

fix tablet styling
  packages/services/questionnaire/src/lib/inputs/input.svelte
Owners: @asynchroza, @Aleks1908

Change format of errors
  manage_app.py
Owners: @asynchroza

Remove test exc
  manage_app.py
Owners: @asynchroza

fix mobile scaling
  packages/services/questionnaire/src/app.html
  packages/services/questionnaire/src/lib/inputs/input.svelte
  packages/services/questionnaire/src/routes/+page.svelte
  packages/services/questionnaire/src/routes/questionnaires/[department]/+page.svelte
Owners: @asynchroza, @Aleks1908

fix unused files
  packages/py-api/py_api/controllers/__init__.py
  packages/py-api/py_api/controllers/utility_controller.py
  packages/py-api/py_api/middleware/exception_handler.py
  packages/py-api/py_api/routes/utility_routes.py
Owners: @asynchroza, @IvanObreshkov

Test commit for the cd
  manage_app.py
Owners: @asynchroza

Add test exc
  manage_app.py
Owners: @asynchroza

Add exc for golang api
  manage_app.py
Owners: @asynchroza

Remove test exc from manage_app.py
  manage_app.py
Owners: @asynchroza

Add test exc to py-api
  packages/py-api/py_api/routes/utility_routes.py
Owners: @asynchroza, @IvanObreshkov

Remove exc from py-api
  packages/py-api/py_api/routes/utility_routes.py
Owners: @asynchroza, @IvanObreshkov

Break web again
  packages/web/src/App.js
  packages/web/src/Global.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira, @r-mishev

Fix web
  packages/web/src/App.js
  packages/web/src/Global.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira, @r-mishev

fix responsive scaling on mobile
  packages/services/questionnaire/src/lib/inputs/input.svelte
  packages/services/questionnaire/src/routes/questionnaires/[department]/+page.svelte
Owners: @asynchroza, @Aleks1908

removed logger
  packages/py-api/py_api/routes/utility_routes.py
Owners: @asynchroza, @IvanObreshkov
