Repository AUBGTheHUB/monolith, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asynchroza, @SuelaCark, @nikolayninov, @Aleks1908, @DemonHashira, @IvanObreshkov, @peti-krl, @r-mishev

.github/CODEOWNERS:

.githooks @asynchroza @SuelaCark @nikolayninov

.github/workflows @asynchroza

.vscode @asynchroza

data @asynchroza

packages/web @SuelaCark @Aleks1908 @asynchroza @nikolayninov @DemonHashira

packages/api @nikolayninov @IvanObreshkov @asynchroza @peti-krl

**/Dockerfile @asynchroza

**/*.yml @asynchroza

manage_app.py @asynchroza

**/*.sh @asynchroza @SuelaCark @r-mishev

Makefile @asynchroza

**/*.conf @asynchroza

packages/services @asynchroza @nikolayninov

#432 add demo md
  packages/services/url_shortener/DEMO.md
Owners: @asynchroza, @nikolayninov

#428 add pyenv and readme for cloud functions (#429)
  Makefile
  README.md
  install_osx.sh
  install_wsl.sh
  packages/services/README.md
Owners: @asynchroza, @SuelaCark, @r-mishev, @nikolayninov

#421 disable tests when env is not set correctly and link global env (#424)
  packages/api/tests/TESTS_README.md
  packages/api/tests/integration_test.go
  packages/api/tests/utils.go
Owners: @nikolayninov, @IvanObreshkov, @asynchroza, @peti-krl

#422 add better handling for port assigning when env url is not provided (#426)
  packages/web/src/Global.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

432 update compose
  docker-compose.yml
Owners: @asynchroza

Add sample nginx conf
  packages/web/sample.nginx.conf
Owners: @asynchroza

#432 update compose with env_file
  docker-compose.yml
Owners: @asynchroza

#432 remove panic from env load
  packages/api/configs/env.go
Owners: @nikolayninov, @IvanObreshkov, @asynchroza, @peti-krl

#432 remove unused log
  Makefile
  packages/api/configs/env.go
Owners: @asynchroza, @nikolayninov, @IvanObreshkov, @peti-krl

#432 add proxy to shortener
  packages/web/nginx.conf
Owners: @asynchroza

#432 Integrate shortener (#433)
  Makefile
  docker-compose.yml
  packages/api/configs/env.go
  packages/services/url_shortener/DEMO.md
  packages/services/url_shortener/Dockerfile
  packages/services/url_shortener/src/main.rs
  packages/web/sample.nginx.conf
Owners: @asynchroza, @nikolayninov, @IvanObreshkov, @peti-krl

#432 fix path matching when proxying
  packages/web/nginx.conf
Owners: @asynchroza

#432 add auth header handler
  packages/services/url_shortener/src/main.rs
Owners: @asynchroza, @nikolayninov

#432 Add auth handler in shortener (#435)
  packages/services/url_shortener/src/main.rs
Owners: @asynchroza, @nikolayninov

#434 add content type
  packages/services/object_uploader_service/main.py
Owners: @asynchroza, @nikolayninov

Add README for url shortener
  packages/services/url_shortener/DEMO.md
  packages/services/url_shortener/README.md
Owners: @asynchroza, @nikolayninov

#434 add test.md
  packages/services/object_uploader_service/TEST.md
Owners: @asynchroza, @nikolayninov

#434 remove ttest file
  packages/services/object_uploader_service/TEST.md
Owners: @asynchroza, @nikolayninov

#434 add content type for uploaded object (#438)
  packages/services/object_uploader_service/main.py
  packages/services/url_shortener/DEMO.md
  packages/services/url_shortener/README.md
Owners: @asynchroza, @nikolayninov

Initialize resources
  others/RESOURCES.md
Owners: none

Initialize resources (#440)
  others/RESOURCES.md
Owners: none

Update production env web build
  docker-compose.yml
  packages/web/Dockerfile
  packages/web/nginx.conf
  packages/web/sample.nginx.conf
  packages/web/test.nginx.conf
Owners: @asynchroza

Update nginx configs
  packages/web/nginx.conf
  packages/web/test.nginx.conf
Owners: @asynchroza

Uncomment url shortener service in compose
  docker-compose.yml
Owners: @asynchroza

#441 enabled jobs and disabled regform
  packages/web/src/feature_switches.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

#441 fixed jobs card alignment in admin panel
  packages/web/src/components/admin_page/admin.css
  packages/web/src/components/spa/JobsSection/JobsCard.jsx
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

#441 Enable jobs and disable reg form (#443)
  packages/web/src/components/admin_page/admin.css
  packages/web/src/components/spa/JobsSection/JobsCard.jsx
  packages/web/src/feature_switches.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

#441 Enable jobs and disable reg form (#443)
  packages/web/src/components/admin_page/admin.css
  packages/web/src/components/spa/JobsSection/JobsCard.jsx
  packages/web/src/feature_switches.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

Close registration
  packages/web/src/feature_switches.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

Fix resetting to master bug in deployment script
  manage_app.py
Owners: @asynchroza

#447 removed the leftover code
  packages/api/controllers/hackathon_register_controller.go
Owners: @nikolayninov, @IvanObreshkov, @asynchroza, @peti-krl

#447 disabled jobs section
  packages/web/src/feature_switches.js
Owners: @SuelaCark, @Aleks1908, @asynchroza, @nikolayninov, @DemonHashira

#447 removed unnecessary testing code from hackathon registration controller (#448)
  packages/api/controllers/hackathon_register_controller.go
  packages/web/src/feature_switches.js
Owners: @nikolayninov, @IvanObreshkov, @asynchroza, @peti-krl, @SuelaCark, @Aleks1908, @DemonHashira

Fix token which is not being rotated
  packages/api/configs/cron.go
Owners: @nikolayninov, @IvanObreshkov, @asynchroza, @peti-krl

Fix token which is not being rotated (#449)
  packages/api/configs/cron.go
Owners: @nikolayninov, @IvanObreshkov, @asynchroza, @peti-krl

swap spa-website-2022 for monolith
  README.md
  install_osx.sh
  install_wsl.sh
  manage_app.py
Owners: @asynchroza, @SuelaCark, @r-mishev

#454 add contitional statement for monolith
  cli.sh
Owners: @asynchroza, @SuelaCark, @r-mishev

#454 add contitional statement for monolith (#455)
  cli.sh
Owners: @asynchroza, @SuelaCark, @r-mishev

Update RESOURCES.md
  others/RESOURCES.md
Owners: none

Add OWASP
  others/RESOURCES.md
Owners: none
