Repository AUBGTheHUB/monolith, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asynchroza, @SuelaCark, @Aleks1908, @nikolayninov, @IvanObreshkov

Initial setup of function
  packages/services/mailing_service/.gitignore
  packages/services/mailing_service/__init__.py
  packages/services/mailing_service/main.py
  packages/services/mailing_service/requirements.txt
Owners: none

Update handler
  packages/services/mailing_service/main.py
Owners: none

Update requirements with dotenv
  packages/services/mailing_service/requirements.txt
Owners: none

Update workflows paths
  .github/workflows/build_frontend.yml
  .github/workflows/integration_tests.yml
Owners: @asynchroza

Add Makefile
  packages/services/mailing_service/Makefile
Owners: @asynchroza

Update deployment env logic
  packages/services/mailing_service/Makefile
  packages/services/mailing_service/main.py
Owners: @asynchroza

#291 remove margin-bottom on awards section
  packages/web/src/components/spa/HackAUBG/AwardsSection/AwardsSection.jsx
  packages/web/src/components/spa/HackAUBG/AwardsSection/awards_section.css
Owners: @SuelaCark, @Aleks1908

Add cloud ignore
  packages/services/mailing_service/.gcloudignore
  packages/services/mailing_service/Makefile
Owners: @asynchroza

#232 changed to neon green favicon
  packages/web/public/favicon.ico
  packages/web/public/faviconcircle.ico:Zone.Identifier
  packages/web/public/faviconold.ico
Owners: @SuelaCark, @Aleks1908

Add init ver of README
  packages/services/mailing_service/README.md
Owners: none

Update authentication type
  packages/services/mailing_service/Makefile
  packages/services/mailing_service/main.py
Owners: @asynchroza

Update readme with new auth
  packages/services/mailing_service/README.md
Owners: none

Rename root folder for service
  packages/services/mailer_service/.gcloudignore
  packages/services/mailer_service/.gitignore
  packages/services/mailer_service/Makefile
  packages/services/mailer_service/README.md
  packages/services/mailer_service/__init__.py
  packages/services/mailer_service/main.py
  packages/services/mailer_service/requirements.txt
Owners: @asynchroza

Mailer service (#292)
  packages/services/mailer_service/.gcloudignore
  packages/services/mailer_service/.gitignore
  packages/services/mailer_service/Makefile
  packages/services/mailer_service/README.md
  packages/services/mailer_service/__init__.py
  packages/services/mailer_service/main.py
  packages/services/mailer_service/requirements.txt
Owners: @asynchroza

Mailer service (#292)
  packages/services/mailer_service/.gcloudignore
  packages/services/mailer_service/.gitignore
  packages/services/mailer_service/Makefile
  packages/services/mailer_service/README.md
  packages/services/mailer_service/__init__.py
  packages/services/mailer_service/main.py
  packages/services/mailer_service/requirements.txt
Owners: @asynchroza

#280 made after 345symbols there to be no more text and ... to be added
  packages/web/src/components/spa/JobsSection/JobsCard.jsx
  packages/web/src/components/spa/JobsSection/JobsSection.jsx
  packages/web/src/components/spa/JobsSection/jobs_section.css
Owners: @SuelaCark, @Aleks1908

#295 fix mobile issue by adding span to icons
  packages/web/src/components/spa/Footer/Footer.jsx
  packages/web/src/components/spa/Footer/footer.css
Owners: @SuelaCark, @Aleks1908

#295 fix desktop issue
  packages/web/src/components/spa/Footer/footer.css
Owners: @SuelaCark, @Aleks1908

Fix wrong path in Build Frontend workflow
  .github/workflows/build_frontend.yml
Owners: @asynchroza

Fix wrong path in Integration Tests workflow
  .github/workflows/integration_tests.yml
Owners: @asynchroza

#295 change iconColor
  packages/web/src/components/spa/Footer/Footer.jsx
  packages/web/src/components/spa/HackAUBG/HackAUBG.jsx
  packages/web/src/components/spa/MainPage.jsx
Owners: @SuelaCark, @Aleks1908

#295 added iconbg prop
  packages/web/src/components/spa/Footer/Footer.jsx
  packages/web/src/components/spa/Footer/footer.css
  packages/web/src/components/spa/HackAUBG/HackAUBG.jsx
  packages/web/src/components/spa/MainPage.jsx
Owners: @SuelaCark, @Aleks1908

#295 added ontabclick function
  packages/web/src/Global.js
  packages/web/src/components/spa/Footer/Footer.jsx
  packages/web/src/components/spa/Footer/footer.css
Owners: @SuelaCark, @Aleks1908

#295 fix circle icons
  packages/web/src/Global.js
  packages/web/src/components/spa/Footer/Footer.jsx
  packages/web/src/components/spa/Footer/footer.css
Owners: @SuelaCark, @Aleks1908

#295 fix margin problem
  packages/web/src/components/spa/Footer/footer.css
Owners: @SuelaCark, @Aleks1908

#295 fix cursor pointer
  packages/web/src/components/spa/Footer/Footer.jsx
  packages/web/src/components/spa/Footer/footer.css
Owners: @SuelaCark, @Aleks1908

#180 finally fixed url
  packages/web/src/components/spa/HackAUBG/JudgesSection/JudgesCard.jsx
  packages/web/src/components/spa/HackAUBG/JudgesSection/JudgesSection.jsx
  packages/web/src/components/spa/HackAUBG/MentorsSection/MentorsSection.jsx
Owners: @SuelaCark, @Aleks1908

#180 removed a few unnecessary div classNames
  packages/web/src/components/spa/HackAUBG/JudgesSection/JudgesCard.jsx
  packages/web/src/components/spa/HackAUBG/JudgesSection/JudgesSection.jsx
  packages/web/src/components/spa/HackAUBG/MentorsSection/MentorsCard.jsx
  packages/web/src/components/spa/HackAUBG/MentorsSection/MentorsSection.jsx
Owners: @SuelaCark, @Aleks1908

#180 gave comment description for two lines
  packages/web/src/components/spa/HackAUBG/JudgesSection/JudgesCard.jsx
  packages/web/src/components/spa/HackAUBG/MentorsSection/MentorsCard.jsx
Owners: @SuelaCark, @Aleks1908

#297 fixed vh for both mobile and desktop animation
  packages/web/src/components/spa/HackAUBG/LandingAnimation/landing_animation.css
  packages/web/src/components/spa/Navigation/MobileNav/mobile_navbar.css
Owners: @SuelaCark, @Aleks1908

.github/CODEOWNERS:

.githooks @asynchroza @SuelaCark

.github/workflows @asynchroza

.vscode @asynchroza

data @asynchroza

packages/web @SuelaCark @Aleks1908

packages/api @nikolayninov @IvanObreshkov

**/Dockerfile @asynchroza

**/*.yml @asynchroza

manage_app.py @asynchroza

**/*.sh @asynchroza @SuelaCark

Makefile @asynchroza

**/*.conf @asynchroza
