Repository AUBGTheHUB/monolith, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asynchroza, @SuelaCark, @Aleks1908, @nikolayninov, @DemonHashira, @r-mishev, @IvanObreshkov

.github/CODEOWNERS:

.github/workflows @asynchroza

.vscode @asynchroza

data @asynchroza

packages/web @SuelaCark @Aleks1908 @asynchroza @nikolayninov @DemonHashira @r-mishev

packages/api @IvanObreshkov @asynchroza

**/Dockerfile @asynchroza

**/*.yml @asynchroza

manage_app.py @asynchroza

**/*.sh @asynchroza @SuelaCark @r-mishev @IvanObreshkov

Makefile @asynchroza

**/*.conf @asynchroza

packages/services @asynchroza

packages/services/questionnaire @asynchroza @Aleks1908

packages/py-api @asynchroza @IvanObreshkov

Set up compose for questionnaire
  docker-compose.yml
  packages/services/questionnaire/Dockerfile
  packages/services/questionnaire/package-lock.json
  packages/services/questionnaire/package.json
  packages/services/questionnaire/svelte.config.js
  packages/services/questionnaire/tsconfig.json
Owners: @asynchroza, @Aleks1908

Add comment about non ssl env
  packages/api/app/app.go
Owners: @IvanObreshkov, @asynchroza

Remove redundant reverse proxy
  packages/web/nginx.conf
Owners: @asynchroza

Disable notifications
  manage_app.py
Owners: @asynchroza

Reformat code
  manage_app.py
Owners: @asynchroza

Fix args syntax to follow convention
  manage_app.py
Owners: @asynchroza

Fix no-health-checks
  manage_app.py
Owners: @asynchroza

Everything working as expected
  manage_app.py
Owners: @asynchroza

Fix getting of env varialbes
  manage_app.py
Owners: @asynchroza

Map port 5173 to 3000
  docker-compose.yml
Owners: @asynchroza

Copy certs to app folder in docker container
  packages/services/questionnaire/Dockerfile
Owners: @asynchroza, @Aleks1908

Add certs to vite config
  packages/services/questionnaire/vite.config.ts
Owners: @asynchroza, @Aleks1908

Add location for questionnarries
  packages/web/nginx.conf
Owners: @asynchroza

POC: Server.js
  docker-compose.yml
  packages/services/questionnaire/Dockerfile
  packages/services/questionnaire/package-lock.json
  packages/services/questionnaire/package.json
  packages/services/questionnaire/server.js
  packages/services/questionnaire/vite.config.ts
  packages/web/nginx.conf
Owners: @asynchroza, @Aleks1908

Remove vite.config deps
  packages/services/questionnaire/vite.config.ts
Owners: @asynchroza, @Aleks1908

Add reverse proxy for _app
  packages/web/nginx.conf
Owners: @asynchroza

#487 Fix SSL certificates issue with node server and incorrect static files proxying on nginx (#523)
  docker-compose.yml
  packages/services/questionnaire/Dockerfile
  packages/services/questionnaire/package-lock.json
  packages/services/questionnaire/package.json
  packages/services/questionnaire/server.js
  packages/services/questionnaire/vite.config.ts
  packages/web/nginx.conf
Owners: @asynchroza, @Aleks1908

Add loading of env vars only from env file
  manage_app.py
Owners: @asynchroza

Add verification of sets
  packages/services/questionnaire/src/hooks.server.ts
  packages/services/questionnaire/src/routes/questionnaires/answers/+server.ts
Owners: @asynchroza, @Aleks1908

Fix client side code to be able to pass proper body
  packages/services/questionnaire/src/routes/questionnaires/[department]/+page.server.ts
  packages/services/questionnaire/src/routes/questionnaires/[department]/+page.svelte
  packages/services/questionnaire/src/routes/questionnaires/answers/+server.ts
Owners: @asynchroza, @Aleks1908

Rollback hooks message
  packages/services/questionnaire/src/hooks.server.ts
Owners: @asynchroza, @Aleks1908

#524 add endpoint verification (#525)
  packages/services/questionnaire/src/hooks.server.ts
  packages/services/questionnaire/src/routes/questionnaires/[department]/+page.server.ts
  packages/services/questionnaire/src/routes/questionnaires/[department]/+page.svelte
  packages/services/questionnaire/src/routes/questionnaires/answers/+server.ts
Owners: @asynchroza, @Aleks1908

Remove unused type
  packages/services/questionnaire/src/routes/questionnaires/answers/+server.ts
Owners: @asynchroza, @Aleks1908

521 Disable submission
  packages/services/questionnaire/src/lib/inputs/input.svelte
  packages/services/questionnaire/src/lib/inputs/types.ts
  packages/services/questionnaire/src/routes/questionnaires/[department]/+page.svelte
Owners: @asynchroza, @Aleks1908

Allow all cross origins
  packages/services/questionnaire/server.js
Owners: @asynchroza, @Aleks1908

Add cors to packages
  packages/services/questionnaire/package-lock.json
  packages/services/questionnaire/package.json
  packages/services/questionnaire/server.js
Owners: @asynchroza, @Aleks1908

Add header in nginx for cors
  packages/services/questionnaire/server.js
  packages/web/nginx.conf
Owners: @asynchroza, @Aleks1908

Add host header
  packages/web/nginx.conf
Owners: @asynchroza

Change None for empty list to fix join
  manage_app.py
Owners: @asynchroza

Replace None with empty list
  manage_app.py
Owners: @asynchroza

Update getenv with environ
  manage_app.py
Owners: @asynchroza

Clean logic of check_service_up
  manage_app.py
Owners: @asynchroza

Fix error with double for loop
  manage_app.py
Owners: @asynchroza

fix mobile styling
  packages/services/questionnaire/src/app.html
  packages/services/questionnaire/src/lib/inputs/input.svelte
Owners: @asynchroza, @Aleks1908

Update cron_local_test
  manage_app.py
Owners: @asynchroza

Remove redundant print
  manage_app.py
Owners: @asynchroza

Fix can only join an iterable for beautify_errors
  manage_app.py
Owners: @asynchroza

adjustments to responsive
  packages/services/questionnaire/src/lib/inputs/input.svelte
Owners: @asynchroza, @Aleks1908

fix tablet
  packages/services/questionnaire/src/lib/inputs/input.svelte
Owners: @asynchroza, @Aleks1908

fix input on mobile
  packages/services/questionnaire/src/lib/inputs/input.svelte
Owners: @asynchroza, @Aleks1908
