Repository AUBGTheHUB/monolith, pull requests merged in 2024-11, with the labels that each got.

#756 Remove redundant logic from repository unit tests
  services/py-api/tests/unit_tests/test_database_layer/test_participant_repository.py
  services/py-api/tests/unit_tests/test_database_layer/test_team_repository.py
Labels: enhancement, AWAITING REVIEW

#763 #747 Add retry logic to commit_transaction
  services/py-api/src/database/db_manager.py
  services/py-api/src/database/repository/participants_repository.py
  services/py-api/src/database/repository/teams_repository.py
  services/py-api/src/database/transaction_manager.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_database_layer/test_db_manager.py
  services/py-api/tests/unit_tests/test_database_layer/test_participant_repository.py
  services/py-api/tests/unit_tests/test_database_layer/test_team_repository.py
  services/py-api/tests/unit_tests/test_database_layer/test_trancation_manager.py
Labels: api, AWAITING REVIEW

#767 #762 Write the exception traceback in the logfile
  services/py-api/src/server/config/server_config.py
  services/py-api/src/server/logger/logger_factory.py
Labels: bug, api

#788 Invoke functions and retreive constants form the object of TeamsRepository
  services/py-api/src/service/participants_service.py
Labels: bug
